
/* 
    Created on : 06/02/2019, 10:41:23
    Author     : Mauri
*/
body, .default{
    line-height: 1.6em;
    font-family: "Lucida Sans Unicode", "Lucila Grande",sans-serif;
    font-size: 12px;
    color: #669
    
}
#one-column-emphasis{
    margin: 45px;
    /*Especificamos el ancho de la tabla*/
    width: 480; 
    /*No deja espacio entre los reglones y columnas de la tabla*/
    border-collapse: collapse;
}

#one-column-emphasis caption{
    font-size: 20px;
}

#one-column-emphasis th{
    font-size: 14px;
    font-weight: normal;
    padding: 12px 15px;
    color: #039;
}

#one-column-emphasis td{
    padding:  10px 15px;
    color: 669;
    border-top: 1px solid #e8edff;
}

.oce-first{
    background: #d0dafd;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent ;
    
}

#one-column-emphasis tr:hover td{
    color: #339;
    background: #eff2ff;
}

